@font-face {
    font-family:"kashima" ;
    src: url(../fonts/Kashima\ Demo.otf);
}

nav,h1{
    font-family: "kashima", sans-serif !important;
    
}
nav{
    font-size: 2rem ;
}
h1{
    font-size: 6rem;
}

#footerText{
    font-family: "kashima", sans-serif !important;
    font-size: 1.5rem;
}

